/*Navbar*/
.container {
  width: 98%;
  margin: 0 auto;
}

.clearFix:before,
.clearFix:after {
  display: table;
  content: " ";
}

.clearFix:after {
  clear: both;
}

.lf-nav {
  float: left;
  padding-left: 10px;
  width: 200px;
}

.lf-nav img {
  width: 100%;
}

.lf-nav a {
  text-decoration: none;
}

.rt-nav {
  float: right;
  padding: 40px 25px 20px 25px;

}

.rt-nav a {
  list-style: none;
  padding: 20px 15px;
  background-color: #f0f7ef;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.rt-nav a:hover {
  background-color: #3df0ba;
}

/*Footer*/

.footer {
  padding: 20px;
  color: #3a3b37;
  font-size: 15px;
  text-align: center;
}

.footer-line {
  width: 100%;
  margin: 0 auto;
  padding-top: 300px;
  padding-bottom: 35px;
}

.foot-border {
  border: 1px solid #111010;
  color: #111010;
}

.copyright {
  width: 1110px;
  margin: 0 auto;
}

.social-icons {
  width: 100%;
}

.social-icons a {
  padding: 10px;
  color: #32568b;
  text-decoration: none;
}

.copyright .p1,
.p2 {
  color: #111010;
  font-size: 16px;
}

.p1 {
  float: left;
}

.p2 {
  float: right;
  padding-bottom: 10px;
}

.p2 span {
  color: #FC8902;
}

.employee {
  margin-top: 50px;
}

.employee-list,
.employee-create,
.employee-edit {
  margin-bottom: 20px;
  font-size: 30px;
}

.employee-edit-form {
  padding-left: 10px;
}

.employee-table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

.employee-table th {
  padding: 0 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: #fff;
  text-align: left;
}

.employee-table th,
.employee-table td {

  border: 1px solid #ddd;
  border-collapse: collapse;
}

.employee-table td {
  vertical-align: middle;
}

.employee-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employee-table tr:hover {
  background-color: #ddd;
}

.employee-table td.profile-home {
  padding-bottom: 0;
  text-align: center;
}

.employee .employee-table .edit {
  padding: 5px;
  border: 1px solid #333;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.employee .employee-table .delete {
  padding: 6px;
  border: 1px solid #333;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.employee-create-form {
  padding-left: 10px;
}

.create-employee {
  padding: 5px;
  border: 1px solid #333;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.back-create {
  padding: 5px;
  padding-top: 4px;
  border: 1px solid #333;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.employee-edit-button {
  padding: 5px;
  border: 1px solid #333;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.back-update {
  padding: 5px;
  padding-top: 4px;
  border: 1px solid #333;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.profile {
  position: relative;
}

.profile input {
  opacity: 0;
}

.profile img {
  position: absolute;
  left: 0;
  width: 15%;
  text-align: left;
}

.profile-edit img {
  width: 30%;
}

.employee .w-5 {
  display: none;
}

.employee nav.flex {
  text-align: center;
}

.employee nav.flex div:first-child {
  margin-bottom: 20px;
}

.employee nav.flex div:first-child a {
  margin: 0 10px;
  text-decoration: none;
}

.employee nav.flex div:last-child div:last-child span a {
  margin: 0 5px;
  padding: 0px 8px;
  text-decoration: none;
}

.employee nav.flex div:last-child div:last-child span a:first-child {
  display: none;
}

.employee nav.flex div:last-child div:last-child span a:last-child {
  display: none;
}

.employee nav.flex div:last-child div:last-child span span:nth-child(2) {
  margin: 0 5px;
  padding: 0px 5px;
  background-color: #ADD8E6;
}

.employee-list-message {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #04AA6D;
}

.alert-error {
  background-color: #f00;
}

.validate-employee-error {
  color: #f00;
}

/*Login Logout*/

.login-form form {
  border: 3px solid #f1f1f1;
}

.login-form form input[type=email],
.login-form form input[type=password] {
  display: inline-block;
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form h2 {
  padding-left: 20px;
  font-size: 28px;
}

.login-form form button {
  width: 100%;
  margin: 8px 0;
  padding: 14px 20px;
  border: none;
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

.login-form form button:hover {
  opacity: 0.8;
}

.login-form form .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.login-form form .imgcontainer {
  margin: 24px 0 12px 0;
  text-align: center;
}

.login-form form img.avatar {
  width: 10%;
  border-radius: 50%;
}

.login-form form .container {
  padding: 16px;
}

.login-form form span.psw {
  float: right;
  padding-top: 16px;
}

/*New Employee Design CSS*/

.leaves-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.leaves-title {
  margin-bottom: 20px;
  font-size: 30px;

}

.leaves-list-container {
  width: 80%;
}

.leaves-list .show-alert {
  width: 60%;
  margin-bottom: 20px;
  padding: 15px 10px;
  background-color: #0ef9a3;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}


.leaves-table {
  width: 100%;
  border: 1px solid #04AA6D;
  text-align: center;
  border-collapse: collapse;
  cursor: pointer;
}

.leaves-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.leaves-table tr {
  transition: 0.5s;
}

.leaves-table tr:hover {
  background-color: #ddd;
}

.leaves-table th {
  background-color: #04AA6D;
  color: #ffffff;
}

.leaves-table th,
.leaves-table td {
  padding: 15px;
}

.leaves-table .show-status-pending {
  padding: 5px;
  background-color: #cb024a;
  color: #ffffff;
  font-size: 12px;
  border-radius: 5px;
}

.leaves-table .leaves-delete {
  padding: 10px;
  border: none;
  background-color: #cb024a;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.leaves-table .leaves-accept {
  padding: 10px;
  border: none;
  background-color: #04AA6D;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.leaves-table .show-status-accept {
  margin-top: 5px;
  padding: 5px;
  background-color: #04AA6D;
  color: #ffffff;
  font-size: 12px;
  border-radius: 5px;
}

.paginate-row {
display: flex;
justify-content: center;
padding: 10px 0;
margin-top: 20px;
}

.paginate-btn {
background-color: #04AA6D;
text-decoration: none;
padding:7px 10px;
border-radius: 5px;
border: 1px solid #ffffff;
color: #ffffff;
}

.paginate-btn.current {
background-color:#cb024a ;
}

.back-btn {
  background-color: #653CFF;
}

.create-btn {
  background-color: #04AA6D;
}

.button-group {
  display: flex;
}

.button-group .bg-btn {
  margin-right: 10px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border: none;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.disabled {
pointer-events: none;
cursor: default;
background-color: #04AA6DB3	;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .login-form form span.psw {
    display: block;
    float: none;
  }

  .login-form form .cancelbtn {
    width: 100%;
  }
}
